
header.flex-center
	.nav-wrapper.menu
		div.btn#shower
			a(href="#shower-section")
				img(src="assets/img/baby.png")
				span Shower

		div.btn#registry-btn
			a
				img(src="assets/img/gift.png")
				span Registry


	//- Countdown Timer
	div#count-down
		//- Days
		span.days
		span.fancy-font.little Days

		//- Hours
		span.hours
		span.fancy-font.little  Hours

		//- Minutes
		span.minutes
		span.fancy-font.little  Minutes

		//- Seconds
		span.seconds
		span.fancy-font.little  Seconds until Nala's arrival

	.nav-wrapper.menu
		div.btn#photo-btn
			a(href="#pictures")
				img(src="assets/img/camera.png")
				span Pictures

		div.btn#guess-btn
			a(href="#guess")
				img(src="assets/img/calendar.png")
				span Guess

		div.btn#comments-btn
			a(href="#comments")
				img(src="assets/img/comments.png")
				span Tips

	button#btn-drop
		span

#drop-down-menu.menu
	div.btn#shower
		a(href="#shower-section")
			img(src="assets/img/baby.png")
			span Shower


	div.btn#registry-btn-drop
		a
			img(src="assets/img/gift.png")
			span Registry

	div.btn#photo-btn
		a(href="#pictures")
			img(src="assets/img/camera.png")
			span Pictures

	div.btn#guess-btn
		a(href="#guess")
			img(src="assets/img/calendar.png")
			span Guess

	div.btn#comments-btn
		a(href="#comments")
			img(src="assets/img/comments.png")
			span Tips
