doctype html
html
	head
		title Nalas Shower
		link(rel='stylesheet', href="assets/css/main.min.css")
		meta(name="viewport" content="width=device-width, initial-scale = 1")
	body

		include header.jade

		main#page-wrapper
			include welcome.jade
			include info.jade

		script(src="assets/js/jquery-2.1.4.min.js")
		script(src="assets/js/main-dist.js") 
