section#info-page-wrapper
  #shower-section
    .heading When and Where?
    #location
      address
        p 2454 Pine Hollow Dr.
        p East Lansing, MI 48823
        p Saturday July 30, 2016
        p 4:30pm - 7:00pm 
    #rsvp
      form(role="form" name="rsvp" method="POST")
        input.rsvp-form#guest_name(name="guest_name" type="name" placeholder="Name")
        input.rsvp-form#attending(name="attending" type="text" placeholder="Attending: Yes or No?")
        input.rsvp-form#guest(name="guest" type="number" placeholder="How Many?")
        input.btn-submit#rsvp-submit(type="submit" value="RSVP")
  #last-row.flex-center

    #registry-info-main
      p.heading Registry Info
      p Registered at Baby's R Us
      p	Bianca McCastle
      p Registry number: 581588428
      a.btn(href="https://www.toysrus.com/registry/link/index.jsp?overrideStore=TRUS&registryNumber=58158428" target="_blank") Registry

    .col-1#guess

      p.heading Guess the Date?
      p#guess-intro Are you the pregnancy "Guru"? Well it's time to show and prove!  Fill out the form below to submit your prediction for Nala's delivery date and weight!!!
      p Due Date: August 23, 2016
      form(role="form" name="guess" method="POST")
        input.guess-form#weight-name(type="text" name="fName" placeholder="Name")
        input.guess-form#weight(type="text" name="weight" placeholder="Weight ex: 7lbs 8oz")
        input.guess-form#gdate(type="Date" name="gdate")
        input.btn-submit#guess-submit(type="submit" value="Submit")
        
    .col-1#pictures
      p.heading Gallery
      #gallery-wrapper
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/lzjinaskv/MG_2611_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/6fc4wrigf/MG_2617_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/meusgbei7/MG_2625_Bianca_Marcell_Maternity.jpg')             
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/a1hy9eotr/MG_2628_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/y6inr494f/MG_2633_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/9ej1jvrxr/MG_2636_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/w4i6cvb5b/MG_2642_Bianca_Marcell_Maternity.jpg')
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/5kplaqalr/MG_2669_Bianca_Marcell_Maternity.jpg')               
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/6bibgicz3/MG_2672_Bianca_Marcell_Maternity.jpg')              
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/oflc15anj/MG_2674_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/7ggyzmotr/MG_2678_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/p7sle348f/MG_2686_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/ytm5udve7/MG_2688_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/xslx59een/MG_2690_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/bupgbgze7/MG_2695_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/67t3dzwvj/MG_2696_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/hlfmp77e7/MG_2697_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/rwrzhuz3j/MG_2700_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/4wlc5j19r/MG_2706_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/3vl3geka7/MG_2709_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/5c17cackv/MG_2711_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/fam5yrm0f/MG_2716_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/3zjiaef5b/MG_2729_Bianca_Marcell_Maternity.jpg')                       
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/65dt4wilr/MG_2730_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/3pbzr20j3/MG_2731_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/xiizznp67/MG_2734_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/5wg8ez5tb/MG_2735_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/ip4cewhf3/MG_2736_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/orbz5e5v3/MG_2738_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/7s30q4unj/MG_2740_Bianca_Marcell_Maternity.jpg')                         
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/b0c3gx6b3/MG_2742_Bianca_Marcell_Maternity.jpg')                        
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/n3hf4hhdb/MG_2745_Bianca_Marcell_Maternity.jpg')                       
        .gall-img-wrapper
          img.gall-img(src='https://s25.postimg.org/wqkxe7acv/MG_2748_Bianca_Marcell_Maternity.jpg')
          
    .col-1#comments
      p.heading Tips for the Parents
      p Now as we venture into parenthood please keep the advice rolling in below lol.
      
      #comment-wall
        p.posted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.posted-author Marcell
        hr
        p.posted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.posted-author Bianca
        
      form#comment-form(role="form" name="comment" method="POST")
        input.comment-form#author-name(name="author-name" type="name" placeholder="Name")
        textarea.comment-form#comment-message(name="comment" type="text" placeholder="Comment" rows="8" cols="80")
        input.btn-submit#comment-submit(type="submit" value="Post")

#overlay
  #modal
    span#close-modal
      img(src="assets/img/icon/close-btn.png")
    img#modal-img()

#overlay-reg
  #modal-reg
    span#close-modal-reg
      img(src="assets/img/icon/close-btn.png")
    #registry-info
      p.heading Registry Info
      p Registered at Baby's R Us
      p	Bianca McCastle
      p Registry number: 581588428
      a.btn(href="https://www.toysrus.com/registry/link/index.jsp?overrideStore=TRUS&registryNumber=58158428" target="_blank") Registry

#overlay-rsvp
  #modal-rsvp
    span#close-modal-rsvp
      img(src="assets/img/icon/close-btn.png")
    #confirm
      p Confirmed Thank You!!!!
