section.col-full#slide-show-wrapper
	
	#welcome-message
		p  We're having a baby!! We are ecstatic to bring baby Nala into the world and become parents to our little princess! We have been blessed to have a village that has been truly amazing from dating, to engagement, to marriage, and now on the verge of Parenthood.  You all have given us encouragement, advice, tools for the future, and above all love.  We want to say thank you for the love and support you have given us!! 
	
	img.slide(src="assets/img/slideshow/sunshine.jpg" alt='sunshine' style='display:none')
	img.slide(src="assets/img/slideshow/hands-smile.jpg" style='display:none')
	img.slide(src="assets/img/slideshow/bee-sign.jpg")
	
	div#slider-wrapper
		ul#slider
			li.slider-item
			li.slider-item
			li.slider-item
